<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>This is your cocktail</h1>
      <h2><%= @cocktail.name  %></h2>

      <% if @cocktail.doses  %>
      <h2>Ingredients</h2>
      <% doses = @cocktail.doses  %>
      <ul>
        <% doses.each do |dose|  %>
        <li>
          <%= dose.description  %>
          <%= dose.ingredient.name  %>
        </li>
        <% end  %>
      </ul>
      <% end  %>
  <%= link_to 'add a dose', new_cocktail_dose_path(@cocktail)  %> <br>
  <%= link_to 'back to index', cocktails_path  %>
    </div>
  </div>
</div>



